*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.headbox{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(HD-wallpaper-frozen-water-rock-mountains-greenery-nature-trees-under-white-clouds-sky-lock-screen.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    
    background: rgba(255, 255, 255, 0.127);
    backdrop-filter: blur(10px);
    height: 110px;
    padding-top: -20px;
    border-radius: 90px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    padding: 35px 0px;
   
}
.logo{
    color: white;
    font-weight: bolder;
    padding: 5px 0px;
    cursor: none;
    text-align: center;
    width: 100px;
    transition: 2s;
    
}
.logo:hover{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(255, 255, 255),0 0 20px rgb(0, 255, 17),0 0 40px rgb(255, 255, 255);
    font-weight: 700;
    width: 10%;
    background: rgb(0, 0, 0);
    backdrop-filter: blur(100%);
    border-radius: 30px;
    transform: rotate(-720deg); 
    transition: transform 2s;
}
.topics li{
    list-style: none;   
    display: inline-block;
    margin: 0px 20px;
    margin-top: 11px;
    position: relative;
}
.topics li a{
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: medium;
    font-weight: bolder;
}

.topics li a::after{
    content: "";
    height: 200%;
    width: 140%;
    background: rgb(255, 255, 255);
    position: absolute;
    left: -20%;
    bottom: -10px;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
    border-radius: 50px;
    transition: transform .5s;
}

.topics li a:hover{
    color: black;
}
.topics li a:hover:after{
   
    transform: scaleX(1);
    transform-origin: left;
}
.contents{
    position: absolute;
    color: white;
    text-align: center;
    top: 40%;
    width: 100%;
}
.mainBox{
    display: flex;
    width: 92%;
    z-index: 1;
    margin-left: 4%;
    height: 30vh;
    border-radius: 60px;
    margin-top: 6%;
    background: transparent;
    border: 1px solid;
    border-color: gray;
    box-shadow: 100px;
    backdrop-filter: blur(10px);
    color: white;
    position: relative;
}
.mainBox .heading{
    top: 24px;
    padding: 0px 110px;
    position: absolute;
    font-size: 2.9em;
    transition: .8s;
}
.mainBox:hover{
    text-shadow: 0 0 10px rgb(255, 255, 255),0 0 20px rgb(165, 106, 106),0 0 40px rgb(196, 255, 199);
}
.mainBox .para{
    position: absolute;
    width: 300px;
    top: 100px;
    padding: 0px 200px;
    font-size: 1.9em;
    transition: 1.5s;
}
.image{
    background-image: url(depositphotos_20867981-stock-photo-earth-at-night-with-city.jpg);
    width: 200px;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 300px;
    margin-left: 70%;
    top: 29%;
    z-index: 1;
    position: absolute;
}
